.ccs-unit-card-container {
  flex: 0 0 auto;
  width: 20vw;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  margin-right: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-image: radial-gradient(circle at center, rgb(75, 81, 85) 12.00%,rgb(33, 39, 45) 100.00%);
}
.ccs-unit-card-container:focus {
  z-index: 300;
  box-shadow: 0px 5px 10px 3px #3f3ae7;
  background-image: radial-gradient(circle at center, rgb(13, 15, 17) 13.00%,rgb(15, 37, 59) 98.00%);
}
.ccs-unit-card-container:hover {
  z-index: 300;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  background-image: radial-gradient(circle at center, rgb(75, 81, 85) 12.00%,rgb(48, 69, 89) 100.00%);
}
.ccs-unit-card-container:active {
  z-index: 300;
  box-shadow: 0px 5px 10px 0px #3f3ae7;
  background-image: radial-gradient(circle at center, rgb(34, 36, 38) 12.00%,rgb(11, 26, 40) 99.00%);
}
.ccs-unit-card-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ccs-unit-card-icon {
  width: 24px;
  height: 24px;
}
.ccs-unit-card-text {
  color: #bebcbc;
  text-align: center;
}
.ccs-unit-card-icon2 {
  fill: #bebcbc;
  width: 24px;
  height: 24px;
}
.ccs-unit-card-text01 {
  color: #bebcbc;
}
.ccs-unit-card-text02 {
  color: #bebcbc;
}
.ccs-unit-card-text03 {
  color: #bebcbc;
}
.ccs-unit-card-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.ccs-unit-card-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ccs-unit-card-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ccs-unit-card-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.ccs-unit-card-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ccs-unit-card-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ccs-unit-card-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.ccs-unit-card-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ccs-unit-card-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ccs-unit-card-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.ccs-unit-card-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-list1 {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.ccs-unit-card-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ccs-unit-card-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ccs-unit-card-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.ccs-unit-card-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ccs-unit-card-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ccs-unit-card-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.ccs-unit-card-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.ccs-unit-card-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ccs-unit-card-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ccs-unit-card-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.ccs-unit-card-root-class-name {
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}

.add-unit-button {
  align-self: right;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
}

.unit-card {
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}
.unit-card:focus {
  z-index: 300;
  box-shadow: 0px 5px 10px 3px #3f3ae7;
}
.unit-card:hover {
  z-index: 300;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  
}
.unit-card:active {
  z-index: 300;
  box-shadow: 0px 5px 10px 0px #3f3ae7;
}

.unit-cardx {
  width: 80%;
}

.unit-card-barx {
  flex: 0 0 auto;
  width: 25vw;
  height: 83vh;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  overflow:auto;
}